<html>
  <head>
    <title>ServicesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="style.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
  </head>

  <body>
    <div class="container" >
        <%= render partial: "shared/sidebar" %>
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>

    <%# Script para colapsar el sidebar con evento click al ícono menú sandwich %>
    <script>
      var menuBtn = document.getElementById("menuClick");
      var sideNav = document.getElementById("sideNav");
      sideNav.style.left = "-100px";
      menuBtn.onclick = function () { 
        if(sideNav.style.left == "-100px") {
          sideNav.style.left = "0";
        }
        else {
          sideNav.style.left = "-100px"
        }
      }
    </script>
  </body>
</html>
