<html>
  <head>
    <title>ServicesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="style.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag '/admin/home.scss' %>
  </head>
  <body>
    <div class="container-fluid" >
      <div class="row flex-nowrap">
        <div class="col-3 px-0 bg-primary sidebar">
          <div class="d-flex flex-column align-items-center align-items-sm-start p-3 min-vh-100 max-w-100">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
              <span class="fs-5 d-none d-sm-inline text-light">Menu</span>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                  <li class="w-100 mb-2">
                    <%= link_to admin_home_index_path, class: "text-decoration-none" do %>
                      <i class="fas fa-home"></i> <span class="d-none d-sm-inline ">Inicio</span>
                    <% end %>
                  </li>
                  <li class="w-100 mb-2">
                    <%= link_to admin_operation_index_path, class: "text-decoration-none" do %>
                      <i class="fas fa-home"></i> <span class="d-none d-sm-inline ">Operaciones</span>
                    <% end %>
                  </li>
                  <li class="w-100 mb-2">
                    <%= link_to admin_home_index_path, class: "text-decoration-none" do %>
                      <i class="fas fa-user-friends fa-xs"></i> <span class="d-none d-sm-inline fs-6">Usuarios</span>
                    <% end %>
                  </li>
                  <li class="w-100 mb-2">
                    <%= link_to admin_order_index_path, class: "text-decoration-none" do %>
                      <i class="fas fa-tools fa-xs"></i> <span class="d-none d-sm-inline">Servicios</span>
                    <% end %>
                  </li>
                  <li class="w-100 mb-2">
                    <%= link_to admin_order_index_path, class: "text-decoration-none" do %>
                      <i class="fas fa-mobile-alt"></i> <span class="d-none d-sm-inline">Equipos</span>
                    <% end %>
                  </li>
                  <li class="w-100 mb-2">
                    <%= link_to admin_home_index_path, class: "text-decoration-none" do %>
                      <i class="fas fa-file-invoice-dollar"></i> <span class="d-none d-sm-inline">Facturas</span>
                    <% end %>
                  <li class="w-100 mb-2">
                  <%= link_to admin_order_new_path do %>
                      <i class="fas fa-book-open"></i> <span class="d-none d-sm-inline text-success text-decoration-none">Reception</span>
                  <% end %>
                  </li>
                </ul>
              </li>
            </ul>
            <hr>
            <a href="#" class="d-flex align-items-center text-light text-decoration-none" id="dropdownUser1" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="admin/operator" width="30" height="30" id="shape_img">
              <span class="d-none d-sm-inline mt-2">
                <h6> <small> <%= current_user.email.split("@")[0] %> </small> </h6>
              </span>
              <%= link_to admin_home_index_path, class: "align-items-center align-items-sm-start  text-decoration-none" do %>
                <i class="fas fa-sign-out-alt"></i> <span class="d-none d-sm-inline">Logout</span>
              <% end %>
            </a>
          </div>
        </div>
        <div class="col-9">
          <%= yield %>
        </div>
      </div>
    </div>
    <% if flash.present? %>
      <% @icon, @title, @message = show_message(flash) %>
      <script>
        var message = "<%= @message %>";
        var title = "<%= @title %>";
        var icon = "<%= @icon %>";
        Swal.fire({
          title: message,
          text: title,
          icon: icon,
          confirmButtonText: 'OK!'
        })
      </script>
    <% end %>

    <div id="modal" class="modal fade" aria-hidden="true" aria-labelledby="modalLabel" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
      </div>
      <div class='col-9'>
      <%= yield %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%
=begin%>
 <%= render partial: "shared/sidebar" %>
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <script>
      var menuBtn = document.getElementById("menuClick");
      var sideNav = document.getElementById("sideNav");
      sideNav.style.left = "-100px";
      menuBtn.onclick = function () { 
        if(sideNav.style.left == "-100px") {
          sideNav.style.left = "0";
        }
        else {
          sideNav.style.left = "-100px"
        }
      }
    </script> 
<%
=end%>

  </body>
</html>
