<html>
  <head>
    <title>ServicesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
    <%# stylesheet link added Daniel %>
    <%# <%= stylesheet_link_tag '/admin/home.scss' %>
  </head>

  <body>
    <div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li>
              <%# <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle"> %>
                  <%# <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a> %>
              <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li class="w-100 mb-2">
                  <%= link_to admin_home_index_path do %>
                    <i class="fas fa-home"></i> <span class="d-none d-sm-inline text-success text-decoration-none">Home</span>
                  <% end %>
                </li>
                <li class="w-100 mb-2">
                  <%= link_to admin_home_index_path do %>
                    <i class="fas fa-tools"></i> <span class="d-none d-sm-inline text-success text-decoration-none">Services</span>
                  <% end %>
                </li>
                <li class="w-100 mb-2">
                  <%= link_to admin_home_index_path do %>
                    <i class="fas fa-user-friends"></i> <span class="d-none d-sm-inline text-success text-decoration-none">Users</span>
                  <% end %>
                </li>
                <li class="w-100 mb-2">
                  <%= link_to admin_home_index_path do %>
                    <i class="fas fa-mobile-alt"></i> <span class="d-none d-sm-inline text-success text-decoration-none">Devices</span>
                  <% end %>
                </li>
                <li class="w-100 mb-2">
                  <%= link_to admin_home_index_path do %>
                    <i class="fas fa-file-invoice-dollar"></i> <span class="d-none d-sm-inline text-success text-decoration-none">Invoices</span>
                  <% end %>
                </li>
                <li class="w-100 mb-2">
                <%= link_to admin_order_new_path do %>
                    <i class="fas fa-book-open"></i> <span class="d-none d-sm-inline text-success text-decoration-none">Reception</span>
                <% end %>
              </li>
                <li class="w-100 mb-2">
                  <%= link_to "Log out", destroy_session_path(:user), :method => :delete %>
                </li>
               
                <li class="w-100">
                  <a href="#" class="nav-link px-0 text-success"> <i class="fas fa-mobile-alt"></i> <span class="d-none d-sm-inline">text no decoration link</span> </a>
                </li>
                <%# <li>
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                </li> %>
              </ul>
          </li>
        </ul>
        <hr>
        <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1"><h6>Hi! <%= current_user.email.split("@")[0] %> </span>
          <%# <span class="d-none d-sm-inline mx-1">Admin</span> %>
        </a>
      </div>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>



